In [1]:
import pandas as pd 
import os
import sys
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.hockey-reference.com/leagues/NHL_2020_skaters.html'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [3]:
data = []
list_header = []

In [4]:
results = soup.find('table', id='stats')

In [5]:
df = pd.read_html(str(results))
df = df[0]
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player                Age                 Tm
0                  1  Justin Abdelkader                 32                DET
1                  2       Pontus Aberg                 26                TOR
2                  3     Vitaly Abramov                 21                OTT
3                  4       Noel Acciari                 28                FLA
4                  5    Andrew Agozzino                 29                TOT

  Unnamed: 4_level_0 Unnamed: 5_level_0 Scoring        Unnamed: 9_level_0  \
                 Pos                 GP       G  A PTS                +/-
0                 LW                 49       0  3   3                -14
1                 LW                  5       0  1   1                  0
2                 RW                  2       1  0   1                  0
3                  C                 66      20  7  27                  2
4                 LW                 22       1  2   3                  3

   ... Assists Shot Data       Ice Time        Unnamed: 23_level_0  \
   ...      SH         S    S%      TOI   ATOI                 BLK
0  ...       0        40   0.0      565  11:32                  26
1  ...       0         4   0.0       44   8:42                   1
2  ...       0         3  33.3       12   5:47                   0
3  ...       0       108  18.5     1054  15:58                 103
4  ...       0        10  10.0      162   7:21                   7

  Unnamed: 24_level_0 Unnamed: 25_level_0 Unnamed: 26_level_0  \
                  HIT                 FOW                 FOL
0                 103                  38                  31
1                   1                   0                   0
2                   0                   0                   0
3                 121                 381                 414
4                  25                  38                  37

  Unnamed: 27_level_0
                  FO%
0                55.1
1                 NaN
2                 NaN
3                47.9
4                50.7

[5 rows x 28 columns]

In [6]:
df.columns = df.columns.droplevel()
df.columns

Index(['Rk', 'Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM',
       'PS', 'EV', 'PP', 'SH', 'GW', 'EV', 'PP', 'SH', 'S', 'S%', 'TOI',
       'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%'],
      dtype='object')

In [7]:
df.head()

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
0,1,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,...,0,40,0.0,565,11:32,26,103,38,31,55.1
1,2,Pontus Aberg,26,TOR,LW,5,0,1,1,0,...,0,4,0.0,44,8:42,1,1,0,0,NaN
2,3,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,...,0,3,33.3,12,5:47,0,0,0,0,NaN
3,4,Noel Acciari,28,FLA,C,66,20,7,27,2,...,0,108,18.5,1054,15:58,103,121,381,414,47.9
4,5,Andrew Agozzino,29,TOT,LW,22,1,2,3,3,...,0,10,10.0,162,7:21,7,25,38,37,50.7

In [9]:
df.columns = ['Rk', 'Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM',
       'PS', 'EV_G', 'PP_G', 'SH_G', 'GW', 'EV_A', 'PP_A', 'SH_A', 'S', 'S%', 'TOI',
       'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%']
adjusted_df = df[df['Rk'] != 'Rk']

In [17]:
adjusted_df.to_csv("../data/unclean2020.csv")