In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
import pymongo

In [2]:
file = "../data/clean_hockey_data.csv"
nhl_df = pd.read_csv(file)

In [3]:
file2 = "../data/clean2020.csv"
nhl2020_df = pd.read_csv(file2)

In [4]:
nhl_df.head()

,Unnamed: 0,Rk,Player,ID,Age,Pos,Tm,GP,G,A,...,HART,Votes,Season,G/60min,A/60min,PTS/60min,HIT/60min,BLK/60min,PIM/60min,S/60min
0,0,1,Connor McDavid,mcdavco01,20,C,EDM,82.0,30,70,...,1,1604,2017,1.038661,2.423543,3.462204,1.177149,1.004039,0.900173,8.690133
1,1,2,Sidney Crosby,crosbsi01,29,C,PIT,75.0,44,45,...,0,1104,2017,1.770624,1.810865,3.581489,3.219316,1.086519,0.965795,10.261569
2,2,3,Patrick Kane,kanepa01,28,RW,CHI,82.0,34,55,...,0,206,2017,1.163056,1.881414,3.044470,0.957811,0.513113,1.094641,9.988597
3,3,4,Nicklas Backstrom,backsni02,29,C,WSH,82.0,23,63,...,0,60,2017,0.921844,2.525050,3.446894,1.803607,1.322645,1.523046,6.492986
4,4,5,Nikita Kucherov,kucheni01,23,RW,TBL,74.0,40,45,...,0,119,2017,1.668985,1.877608,3.546592,1.251739,0.834492,1.585535,10.264256

In [5]:
nhl2020_df.head()

,Unnamed: 0,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH_A,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
0,2,Nick Ritchie,24,ANA,LW,41,8,11,19,3,...,0,70,11.4,590,14:23,13,79,1,7,12.5
1,5,Troy Terry,22,ANA,C,47,4,11,15,-5,...,0,73,5.5,682,14:31,9,3,3,5,37.5
2,6,Nicolas Deslauriers,28,ANA,LW,59,7,6,13,-1,...,0,64,10.9,577,9:47,32,137,0,0,NaN
3,7,Max Jones,21,ANA,LW,59,8,4,12,-6,...,0,102,7.8,842,14:16,18,82,11,16,40.7
4,8,Max Comtois,21,ANA,LW,29,5,6,11,-4,...,0,32,15.6,405,13:58,8,61,3,13,18.8

In [6]:
# Pass in a df and a category, and the function will produce a new df grouped by that category and displaying 
# the average (or median) of each category
def groupby_avg(df, category):
    # Groups the df by a category
    temp_df = df.groupby([category])

    # Calculates the average stats for each group
    cat_group = temp_df[category].max()
    avg_goals = temp_df["G/60min"].mean()
    avg_assists = temp_df["A/60min"].mean()
    avg_pts = temp_df["PTS/60min"].mean()
    avg_hits = temp_df["HIT/60min"].mean()
    avg_blocks = temp_df["BLK/60min"].mean()
    avg_s = temp_df["S/60min"].mean()
    avg_shootperc = temp_df["S_percent"].mean()
    avg_pim = temp_df["PIM/60min"].mean()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Player"].count()

    # Builds the new df
    new_df = pd.DataFrame({
        category: cat_group,
        "Avg G/60min" : avg_goals,
        "Avg A/60min" : avg_assists,
        "Avg PTS/60min" : avg_pts,
        "Avg HIT/60min" : avg_hits,
        "Avg BLK/60min" : avg_blocks,
        "Avg S/60min" : avg_s,
        "Avg S_percent" : avg_shootperc,
        "Avg PIM/60min" : avg_pim,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df


def groupby_median(df, category):
    temp_df = df.groupby([category])

    med_goals = temp_df["G/60min"].median()
    med_assists = temp_df["A/60min"].median()
    med_pts = temp_df["PTS/60min"].median()
    med_hits = temp_df["HIT/60min"].median()
    med_blocks = temp_df["BLK/60min"].median()
    med_shhotperc = temp_df["S_percent"].median()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Player"].count()


    new_df = pd.DataFrame({
        "Med G/60min" : med_goals,
        "Med A/60min" : med_assists,
        "Med PTS/60min" : med_pts,
        "Med HIT/60min" : med_hits,
        "Med BLK/60min" : med_blocks,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df

In [7]:
# Df grouping by 2 categories
def multi_groupby_med(df, category1, category2):
    temp_df = df.groupby([category1, category2])

    med_goals = temp_df["G/60min"].median()
    med_assists = temp_df["A/60min"].median()
    med_pts = temp_df["PTS/60min"].median()
    med_hits = temp_df["HIT/60min"].median()
    med_blocks = temp_df["BLK/60min"].median()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Age"].count()

    new_df = pd.DataFrame({
        "Med G/60min" : med_goals,
        "Med A/60min" : med_assists,
        "Med PTS/60min" : med_pts,
        "Med HIT/60min" : med_hits,
        "Med BLK/60min" : med_blocks,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df

def multi_groupby_avg(df, category1, category2):
    temp_df = df.groupby([category1, category2])

    avg_goals = temp_df["G/60min"].mean()
    avg_assists = temp_df["A/60min"].mean()
    avg_pts = temp_df["PTS/60min"].mean()
    avg_hits = temp_df["HIT/60min"].mean()
    avg_blocks = temp_df["BLK/60min"].mean()
    avg_pim = temp_df["PIM/60min"].mean()
    med_pim = temp_df["PIM/60min"].median()
    avg_s = temp_df["S/60min"].mean()
    count = temp_df["Age"].count()

    new_df = pd.DataFrame({
        "Avg G/60min" : avg_goals,
        "Avg A/60min" : avg_assists,
        "Avg PTS/60min" : avg_pts,
        "Avg HIT/60min" : avg_hits,
        "Avg BLK/60min" : avg_blocks,
        "Avg PIM/60min" : avg_pim,
        "Med PIM/60min" : med_pim,
        "Avg S/60min" : avg_s,
        "Avg Players" : count
    })
    return new_df

In [8]:
def seasonyears_filter(df, years_list):
    new_df = df[df.Season.isin(years_list)]
    return new_df

# Groups a df into 3 sets of 3 years
def three_year_group(df):
    years = [2004, 2005, 2006, 2009, 2010, 2011, 2016, 2017, 2018]
    new_df = df[df.Season.isin(years)]

    bins = [2004, 2006, 2011, 2018]
    groups = ["2004-06", "2009-11", "2016-18"]
    new_df["Season_group"] = pd.cut(new_df["Season"], bins, labels=groups, include_lowest=True)
    # grouped_df = multi_groupby_avg(new_df, "Age", "Season_group")
    return new_df

In [ ]:
forwards_data = nhl_df[(nhl_df["Pos"] != "D") & (nhl_df["Age"] >= 20)]
defensemen_data = nhl_df[(nhl_df["Pos"] == "D") & (nhl_df["Age"] >= 20)]

# dfs to be moved to database

In [9]:
complete_nhl_df = nhl_df
complete_nhl_df.head()

,Unnamed: 0,Rk,Player,ID,Age,Pos,Tm,GP,G,A,...,HART,Votes,Season,G/60min,A/60min,PTS/60min,HIT/60min,BLK/60min,PIM/60min,S/60min
0,0,1,Connor McDavid,mcdavco01,20,C,EDM,82.0,30,70,...,1,1604,2017,1.038661,2.423543,3.462204,1.177149,1.004039,0.900173,8.690133
1,1,2,Sidney Crosby,crosbsi01,29,C,PIT,75.0,44,45,...,0,1104,2017,1.770624,1.810865,3.581489,3.219316,1.086519,0.965795,10.261569
2,2,3,Patrick Kane,kanepa01,28,RW,CHI,82.0,34,55,...,0,206,2017,1.163056,1.881414,3.044470,0.957811,0.513113,1.094641,9.988597
3,3,4,Nicklas Backstrom,backsni02,29,C,WSH,82.0,23,63,...,0,60,2017,0.921844,2.525050,3.446894,1.803607,1.322645,1.523046,6.492986
4,4,5,Nikita Kucherov,kucheni01,23,RW,TBL,74.0,40,45,...,0,119,2017,1.668985,1.877608,3.546592,1.251739,0.834492,1.585535,10.264256

In [10]:
# age_df = groupby_avg(forwards_data, "Age")
age_df = groupby_avg(complete_nhl_df, "Age")
age_df.head()

,Age,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Age,,,,,,,,,,,
18,18,0.824067,1.148905,1.972972,2.490490,1.401981,7.343056,10.941667,1.739567,1.191372,24
19,19,0.616434,1.000604,1.617038,3.519958,1.890612,6.572784,8.770732,1.736700,1.368243,123
20,20,0.673296,0.995643,1.668939,3.063742,1.597840,6.738494,9.348246,1.977292,1.416767,228
21,21,0.613062,0.951827,1.564889,3.575405,1.734297,6.527488,8.644836,2.310811,1.665270,426
22,22,0.589820,0.928056,1.517876,3.951092,1.929304,6.426348,8.447611,2.505728,1.701871,565

In [ ]:
# d_age_df = groupby_avg(defensemen_data, "Age")
# d_age_df.head()

In [11]:
# season_df = groupby_avg(forwards_data, "Season")
season_df = groupby_avg(complete_nhl_df, "Season")
season_df.head()

,Season,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Season,,,,,,,,,,,
2004,2004,0.514478,0.828224,1.342702,0.000000,0.000000,5.705203,8.308504,4.328171,2.272317,635
2006,2006,0.609734,1.009904,1.619638,0.000000,0.000000,6.174615,8.911111,4.131063,2.882364,630
2007,2007,0.576399,0.966838,1.543237,0.000000,0.000000,6.090347,8.576645,3.631224,2.395814,608
2008,2008,0.534129,0.888737,1.422866,4.500742,2.339818,5.935895,8.137239,3.691121,2.148876,623
2009,2009,0.569995,0.951735,1.521730,2.477101,1.288872,6.098845,8.465959,3.611024,2.240199,1225

In [ ]:
# d_season_df = groupby_avg(defensemen_data, "Season")
# d_season_df.head()

In [12]:
#new_df = three_year_group(forwards_data)
new_df = three_year_group(complete_nhl_df)
year_groups_df = multi_groupby_avg(new_df, "Age", "Season_group")
year_groups_df.reset_index(inplace=True)
year_groups_df.head()

,Age,Season_group,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg PIM/60min,Med PIM/60min,Avg S/60min,Avg Players
0,18,2004-06,0.883036,1.195262,2.078298,0.000000,0.000000,2.834081,2.766808,6.985746,4
1,18,2009-11,0.976715,0.915516,1.892232,3.255349,1.585714,2.219968,1.997356,7.609746,6
2,18,2016-18,0.737517,1.102058,1.839575,3.845750,2.887081,1.862130,1.904762,7.240534,3
3,19,2004-06,0.694262,0.948142,1.642404,0.000000,0.000000,2.855172,3.200000,7.466544,7
4,19,2009-11,0.536097,0.978881,1.514978,2.966969,1.969593,1.614716,1.368243,5.973797,35

In [ ]:
# new_df = three_year_group(defensemen_data)
# d_year_groups_df = multi_groupby_avg(new_df, "Age", "Season_group")
# d_year_groups_df.reset_index(inplace=True)
# d_year_groups_df.head()

# Loading into MongoDB

In [13]:
conn ='mongodb://localhost:27017'

In [14]:
client = pymongo.MongoClient(conn)

In [15]:
client.drop_database('nhl_db')

In [16]:
db = client.nhl_db

In [17]:
collection = db.nhl_player_data

In [18]:
complete_nhl_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'ID', 'Age', 'Pos', 'Tm', 'GP', 'G', 'A',
       'PTS', 'plusminus', 'PIM', 'PS', 'EVG', 'PPG', 'SHG', 'GW', 'EVA',
       'PPA', 'SHA', 'S', 'S_percent', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW',
       'FOL', 'FO_percent', 'HART', 'Votes', 'Season', 'G/60min', 'A/60min',
       'PTS/60min', 'HIT/60min', 'BLK/60min', 'PIM/60min', 'S/60min'],
      dtype='object')

In [19]:
data = complete_nhl_df.to_dict(orient='records')
collection.insert_many(data)

In [20]:
# nhl_col=db.nhl_player_data.find()
# for col in nhl_col:
#     print(col)

In [21]:
collection2 = db.age_groups

In [22]:
data2 = age_df.to_dict(orient='records')
collection2.insert_many(data2)

In [23]:
collection3 = db.season_groups

In [24]:
data3 = season_df.to_dict(orient='records')
collection3.insert_many(data3)

In [25]:
collection4 = db.age_season_groups

In [26]:
data4 = year_groups_df.to_dict(orient='records')
collection4.insert_many(data4)

In [27]:
collection5 = db.nhl2020_players

In [28]:
data5 = nhl2020_df.to_dict(orient='records')
collection5.insert_many(data5)

In [29]:
print("Complete")

Complete