In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
import pymongo

In [2]:
file = "../data/clean_hockey_data.csv"
nhl_df = pd.read_csv(file)

In [3]:
file2 = "../data/clean2020.csv"
nhl2020_df = pd.read_csv(file2)

In [4]:
nhl_df.head()

,Unnamed: 0,Rk,Player,ID,Age,Pos,Tm,GP,G,A,...,HART,Votes,Season,G/60min,A/60min,PTS/60min,HIT/60min,BLK/60min,PIM/60min,S/60min
0,0,1,Connor McDavid,mcdavco01,20,C,EDM,82.0,30,70,...,1,1604,2017,1.038661,2.423543,3.462204,1.177149,1.004039,0.900173,8.690133
1,1,2,Sidney Crosby,crosbsi01,29,C,PIT,75.0,44,45,...,0,1104,2017,1.770624,1.810865,3.581489,3.219316,1.086519,0.965795,10.261569
2,2,3,Patrick Kane,kanepa01,28,RW,CHI,82.0,34,55,...,0,206,2017,1.163056,1.881414,3.044470,0.957811,0.513113,1.094641,9.988597
3,3,4,Nicklas Backstrom,backsni02,29,C,WSH,82.0,23,63,...,0,60,2017,0.921844,2.525050,3.446894,1.803607,1.322645,1.523046,6.492986
4,4,5,Nikita Kucherov,kucheni01,23,RW,TBL,74.0,40,45,...,0,119,2017,1.668985,1.877608,3.546592,1.251739,0.834492,1.585535,10.264256

In [5]:
nhl2020_df.head()

,Unnamed: 0,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH_A,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%
0,2,Nick Ritchie,24,ANA,LW,41,8,11,19,3,...,0,70,11.4,590,14:23,13,79,1,7,12.5
1,5,Troy Terry,22,ANA,C,47,4,11,15,-5,...,0,73,5.5,682,14:31,9,3,3,5,37.5
2,6,Nicolas Deslauriers,28,ANA,LW,59,7,6,13,-1,...,0,64,10.9,577,9:47,32,137,0,0,NaN
3,7,Max Jones,21,ANA,LW,59,8,4,12,-6,...,0,102,7.8,842,14:16,18,82,11,16,40.7
4,8,Max Comtois,21,ANA,LW,29,5,6,11,-4,...,0,32,15.6,405,13:58,8,61,3,13,18.8

In [6]:
# Pass in a df and a category, and the function will produce a new df grouped by that category and displaying 
# the average (or median) of each category
def groupby_avg(df, category):
    # Groups the df by a category
    temp_df = df.groupby([category])

    # Calculates the average stats for each group
    cat_group = temp_df[category].max()
    avg_goals = temp_df["G/60min"].mean()
    avg_assists = temp_df["A/60min"].mean()
    avg_pts = temp_df["PTS/60min"].mean()
    avg_hits = temp_df["HIT/60min"].mean()
    avg_blocks = temp_df["BLK/60min"].mean()
    avg_s = temp_df["S/60min"].mean()
    avg_shootperc = temp_df["S_percent"].mean()
    avg_pim = temp_df["PIM/60min"].mean()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Player"].count()

    # Builds the new df
    new_df = pd.DataFrame({
        category: cat_group,
        "Avg G/60min" : avg_goals,
        "Avg A/60min" : avg_assists,
        "Avg PTS/60min" : avg_pts,
        "Avg HIT/60min" : avg_hits,
        "Avg BLK/60min" : avg_blocks,
        "Avg S/60min" : avg_s,
        "Avg S_percent" : avg_shootperc,
        "Avg PIM/60min" : avg_pim,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df


def groupby_median(df, category):
    temp_df = df.groupby([category])

    med_goals = temp_df["G/60min"].median()
    med_assists = temp_df["A/60min"].median()
    med_pts = temp_df["PTS/60min"].median()
    med_hits = temp_df["HIT/60min"].median()
    med_blocks = temp_df["BLK/60min"].median()
    med_shhotperc = temp_df["S_percent"].median()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Player"].count()


    new_df = pd.DataFrame({
        "Med G/60min" : med_goals,
        "Med A/60min" : med_assists,
        "Med PTS/60min" : med_pts,
        "Med HIT/60min" : med_hits,
        "Med BLK/60min" : med_blocks,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df

In [7]:
# Df grouping by 2 categories
def multi_groupby_med(df, category1, category2):
    temp_df = df.groupby([category1, category2])

    med_goals = temp_df["G/60min"].median()
    med_assists = temp_df["A/60min"].median()
    med_pts = temp_df["PTS/60min"].median()
    med_hits = temp_df["HIT/60min"].median()
    med_blocks = temp_df["BLK/60min"].median()
    med_pim = temp_df["PIM/60min"].median()
    count = temp_df["Age"].count()

    new_df = pd.DataFrame({
        "Med G/60min" : med_goals,
        "Med A/60min" : med_assists,
        "Med PTS/60min" : med_pts,
        "Med HIT/60min" : med_hits,
        "Med BLK/60min" : med_blocks,
        "Med PIM/60min" : med_pim,
        "Num Players" : count
    })
    return new_df

def multi_groupby_avg(df, category1, category2):
    temp_df = df.groupby([category1, category2])

    avg_goals = temp_df["G/60min"].mean()
    avg_assists = temp_df["A/60min"].mean()
    avg_pts = temp_df["PTS/60min"].mean()
    avg_hits = temp_df["HIT/60min"].mean()
    avg_blocks = temp_df["BLK/60min"].mean()
    avg_pim = temp_df["PIM/60min"].mean()
    med_pim = temp_df["PIM/60min"].median()
    avg_s = temp_df["S/60min"].mean()
    count = temp_df["Age"].count()

    new_df = pd.DataFrame({
        "Avg G/60min" : avg_goals,
        "Avg A/60min" : avg_assists,
        "Avg PTS/60min" : avg_pts,
        "Avg HIT/60min" : avg_hits,
        "Avg BLK/60min" : avg_blocks,
        "Avg PIM/60min" : avg_pim,
        "Med PIM/60min" : med_pim,
        "Avg S/60min" : avg_s,
        "Avg Players" : count
    })
    return new_df

In [8]:
def seasonyears_filter(df, years_list):
    new_df = df[df.Season.isin(years_list)]
    return new_df

# Groups a df into 3 sets of 3 years
def three_year_group(df):
    years = [2004, 2005, 2006, 2009, 2010, 2011, 2016, 2017, 2018]
    new_df = df[df.Season.isin(years)]

    bins = [2004, 2006, 2011, 2018]
    groups = ["2004-06", "2009-11", "2016-18"]
    new_df["Season_group"] = pd.cut(new_df["Season"], bins, labels=groups, include_lowest=True)
    # grouped_df = multi_groupby_avg(new_df, "Age", "Season_group")
    return new_df

In [9]:
forwards_data = nhl_df[(nhl_df["Pos"] != "D") & (nhl_df["Age"] >= 20)]
defensemen_data = nhl_df[(nhl_df["Pos"] == "D") & (nhl_df["Age"] >= 20)]

# dfs to be moved to database

In [10]:
complete_nhl_df = nhl_df
complete_nhl_df.head()

,Unnamed: 0,Rk,Player,ID,Age,Pos,Tm,GP,G,A,...,HART,Votes,Season,G/60min,A/60min,PTS/60min,HIT/60min,BLK/60min,PIM/60min,S/60min
0,0,1,Connor McDavid,mcdavco01,20,C,EDM,82.0,30,70,...,1,1604,2017,1.038661,2.423543,3.462204,1.177149,1.004039,0.900173,8.690133
1,1,2,Sidney Crosby,crosbsi01,29,C,PIT,75.0,44,45,...,0,1104,2017,1.770624,1.810865,3.581489,3.219316,1.086519,0.965795,10.261569
2,2,3,Patrick Kane,kanepa01,28,RW,CHI,82.0,34,55,...,0,206,2017,1.163056,1.881414,3.044470,0.957811,0.513113,1.094641,9.988597
3,3,4,Nicklas Backstrom,backsni02,29,C,WSH,82.0,23,63,...,0,60,2017,0.921844,2.525050,3.446894,1.803607,1.322645,1.523046,6.492986
4,4,5,Nikita Kucherov,kucheni01,23,RW,TBL,74.0,40,45,...,0,119,2017,1.668985,1.877608,3.546592,1.251739,0.834492,1.585535,10.264256

In [11]:
f_age_df = groupby_avg(forwards_data, "Age")
# age_df = groupby_avg(complete_nhl_df, "Age")
f_age_df.head()

,Age,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Age,,,,,,,,,,,
20,20,0.840733,1.127471,1.968204,3.260776,1.231604,7.634152,11.013855,2.001279,1.399642,166
21,21,0.777082,1.053516,1.830598,3.890954,1.260016,7.447861,10.213621,2.561668,1.728000,301
22,22,0.785635,1.040312,1.825947,4.229377,1.326418,7.483212,10.483422,2.724527,1.652640,374
23,23,0.757673,0.997122,1.754795,3.878317,1.287825,7.346227,10.303113,3.172917,1.882780,514
24,24,0.752985,0.954510,1.707494,4.645364,1.440101,7.339764,10.121780,3.613162,1.884296,528

In [12]:
d_age_df = groupby_avg(defensemen_data, "Age")
d_age_df.head()

,Age,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Age,,,,,,,,,,,
20,20,0.224997,0.642685,0.867683,2.536200,2.578409,4.340440,4.888710,1.913071,1.498987,62
21,21,0.218103,0.706959,0.925062,2.815564,2.876368,4.311231,4.867200,1.706745,1.558442,125
22,22,0.206391,0.708246,0.914637,3.406178,3.109825,4.356887,4.461257,2.077295,1.722488,191
23,23,0.213710,0.704615,0.918326,3.237406,2.977277,4.212295,4.871324,2.284778,1.860890,272
24,24,0.201712,0.681077,0.882788,3.634415,3.487691,4.195409,4.649042,2.168885,1.747573,261

In [13]:
f_season_df = groupby_avg(forwards_data, "Season")
# season_df = groupby_avg(complete_nhl_df, "Season")
f_season_df.head()

,Season,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Season,,,,,,,,,,,
2004,2004,0.681370,0.951867,1.633237,0.000000,0.000000,6.635724,10.255392,4.865217,2.219883,408
2006,2006,0.821541,1.151141,1.972682,0.000000,0.000000,7.416797,10.905882,4.409147,2.819389,408
2007,2007,0.773952,1.095150,1.869102,0.000000,0.000000,7.346906,10.430789,4.151551,2.423453,393
2008,2008,0.713288,1.012382,1.725670,4.898246,1.508602,7.134911,9.804250,4.362433,2.146824,400
2009,2009,0.766447,1.075203,1.841649,2.731269,0.837175,7.349092,10.315297,4.191945,2.281879,791

In [14]:
d_season_df = groupby_avg(defensemen_data, "Season")
d_season_df.head()

,Season,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg S/60min,Avg S_percent,Avg PIM/60min,Med PIM/60min,Num Players
Season,,,,,,,,,,,
2004,2004,0.192341,0.591988,0.784329,0.000000,0.000000,3.896097,4.605069,3.392195,2.338308,217
2006,2006,0.214969,0.743235,0.958204,0.000000,0.000000,3.862992,5.205430,3.618048,2.943925,221
2007,2007,0.196161,0.714944,0.911105,0.000000,0.000000,3.695476,4.996172,2.716438,2.382671,209
2008,2008,0.189477,0.639152,0.828629,3.801852,3.946133,3.662821,4.875587,2.498616,2.177020,213
2009,2009,0.195541,0.713007,0.908548,1.981902,2.142302,3.717603,4.934856,2.578607,2.208897,416

In [15]:
new_df = three_year_group(forwards_data)
#new_df = three_year_group(complete_nhl_df)
f_year_groups_df = multi_groupby_avg(new_df, "Age", "Season_group")
f_year_groups_df.reset_index(inplace=True)
f_year_groups_df.head()

,Age,Season_group,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg PIM/60min,Med PIM/60min,Avg S/60min,Avg Players
0,20,2004-06,0.834759,1.106270,1.941030,0.000000,0.000000,2.959426,1.889764,7.685480,25
1,20,2009-11,0.881385,1.162425,2.043810,3.614000,1.260343,2.006151,1.513936,7.578810,38
2,20,2016-18,0.890148,1.174341,2.064489,3.279627,1.470308,1.397482,1.085082,7.822259,42
3,21,2004-06,0.733420,0.874595,1.608016,0.000000,0.000000,4.056223,2.558635,7.098771,33
4,21,2009-11,0.825584,1.090114,1.915698,3.799960,1.098090,2.767486,1.815088,7.592502,78

In [16]:
new_df = three_year_group(defensemen_data)
d_year_groups_df = multi_groupby_avg(new_df, "Age", "Season_group")
d_year_groups_df.reset_index(inplace=True)
d_year_groups_df.head()

,Age,Season_group,Avg G/60min,Avg A/60min,Avg PTS/60min,Avg HIT/60min,Avg BLK/60min,Avg PIM/60min,Med PIM/60min,Avg S/60min,Avg Players
0,20,2004-06,0.258857,0.732265,0.991123,0.000000,0.000000,3.169811,2.868117,4.805188,12
1,20,2009-11,0.206615,0.693635,0.900251,3.168668,2.951367,1.946087,1.582031,3.972513,13
2,20,2016-18,0.258628,0.594078,0.852705,3.499624,3.383882,1.646813,2.073814,5.104897,9
3,21,2004-06,0.167095,0.637146,0.804241,0.000000,0.000000,1.927772,1.881533,3.722481,13
4,21,2009-11,0.230688,0.731749,0.962437,2.757875,2.934771,1.993728,1.978022,4.135869,27

# Loading into MongoDB

In [17]:
conn ='mongodb://localhost:27017'

In [18]:
client = pymongo.MongoClient(conn)

In [19]:
client.drop_database('nhl_db')

In [20]:
db = client.nhl_db

In [21]:
collection = db.nhl_player_data

In [22]:
complete_nhl_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'ID', 'Age', 'Pos', 'Tm', 'GP', 'G', 'A',
       'PTS', 'plusminus', 'PIM', 'PS', 'EVG', 'PPG', 'SHG', 'GW', 'EVA',
       'PPA', 'SHA', 'S', 'S_percent', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW',
       'FOL', 'FO_percent', 'HART', 'Votes', 'Season', 'G/60min', 'A/60min',
       'PTS/60min', 'HIT/60min', 'BLK/60min', 'PIM/60min', 'S/60min'],
      dtype='object')

In [23]:
data = complete_nhl_df.to_dict(orient='records')
collection.insert_many(data)

In [24]:
# nhl_col=db.nhl_player_data.find()
# for col in nhl_col:
#     print(col)

In [25]:
collection2 = db.f_age_groups

In [26]:
data2 = f_age_df.to_dict(orient='records')
collection2.insert_many(data2)

In [27]:
collection3 = db.f_season_groups

In [28]:
data3 = f_season_df.to_dict(orient='records')
collection3.insert_many(data3)

In [29]:
collection4 = db.f_age_season_groups

In [30]:
data4 = f_year_groups_df.to_dict(orient='records')
collection4.insert_many(data4)

In [31]:
collection5 = db.nhl2020_players

In [32]:
data5 = nhl2020_df.to_dict(orient='records')
collection5.insert_many(data5)

In [33]:
collection6 = db.d_age_season_groups

In [34]:
data6 = d_year_groups_df.to_dict(orient='records')
collection6.insert_many(data6)

In [35]:
collection7 = db.d_season_groups

In [36]:
data7 = d_season_df.to_dict(orient='records')
collection7.insert_many(data7)

In [37]:
collection8 = db.d_age_groups

In [38]:
data8 = d_age_df.to_dict(orient='records')
collection8.insert_many(data8)

In [39]:
print("Complete")

Complete